@model Candy
<div class="d-flex flex-wrap">
    <div class="candy-card">
        <div class=" candy-card-div flex-column">
            <div class="thumbnail">
                <div class="card-image">
                    <img src="@Model.ImageThumbnailUrl" alt="image of candy" />
                </div>

                <div class="caption">
                    <h3 class="pull-right">@Model.Price.ToString("c")</h3>
                    <a class="candy-card" asp-action="Details" asp-route-id="@Model.CandyId">
                        <h3>@Model.Name </h3>
                    </a>
                        <h4>@Model.Description</h4>
                </div>

            </div>
        </div>

    <div class="addToCart">
        <a class="btn btn-primary" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-candyId="@Model.CandyId">Add to Cart</a>
    </div>
</div>
    </div>
